* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(#f6f9f9, #101010, #f7f6f6);
  color: #121212;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #222;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  color: #0d0d0d;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  color: #f90202;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
}

.hero img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #333;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 36px;
}

.hero span {
  color: #e02b07;
}

.hero p {
  max-width: 600px;
  margin-top: 15px;
  color: #0e0d0d;
  line-height: 1.6;
}

.section {
  padding: 70px 80px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section p {
  max-width: 800px;
  line-height: 1.7;
  color: #0a0a0a;
}
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.skill {
  background: #8f8d8d;
  border: 1px solid #0c0c0c;
  padding: 25px 10px;
  text-align: center;
  border-radius: 12px;
  transition: 0.4s;
  cursor: pointer;
}

.skill i {
  font-size: 42px;
  color: #111111;
  transition: 0.4s;
}

.skill span {
  display: block;
  margin-top: 10px;
  color: #181717;
  font-size: 14px;
}

.skill:hover {
  transform: translateY(-10px);
  border-color: #ff0d00;
  box-shadow: 0 0 20px rgba(5, 5, 5, 0.25);
}

.skill:hover i {
  color: #ff1500;
  transform: scale(1.2);
}

.skill:hover span {
  color: #ffffff;
}


.education-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
}

.education-box span {
  color: #070707;
  margin-bottom: 15px;
}

.contact p {
  margin-top: 10px;
  color: #080808;
}

.contact i {
  margin-right: 10px;
  color: #00ffcc;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #222;
  color: #0a0909;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .section {
    padding: 50px 30px;
  }

  .skills {
    flex-wrap: wrap;
  }
}


.contact {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #ccc;
  background: #111;
  border: 1px solid #222;
  padding: 14px 20px;
  border-radius: 10px;
  transition: 0.4s;
  width: fit-content;
}

.contact-item i {
  font-size: 20px;
  color: #888;
  transition: 0.4s;
}

.contact-item:hover {
  transform: translateX(10px);
  border-color: #ff2600;
  box-shadow: 0 0 15px rgba(255, 51, 0, 0.25);
  color: #ffffff;
}

.contact-item:hover i {
  color: #ff0800;
}
